Source: postfwd
Section: mail
Priority: optional
Maintainer: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 5)
Homepage: http://www.postfwd.org/
Vcs-Browser: https://trac.cyconet.org/debian/browser/debian/postfwd
Vcs-Svn: https://trac.cyconet.org/svn/debian/postfwd
Standards-Version: 3.7.3

Package: postfwd
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, adduser, libnet-cidr-lite-perl, libnet-dns-async-perl, libnet-server-perl
Description: Postfix policyd to combine complex restrictions in a ruleset
 Postfwd is written in perl to combine complex postfix restrictions in a
 ruleset similar to those of the most firewalls. The program uses the postfix
 policy delegation protocol to control access to the mail system before a
 message has been accepted. It allows you to choose an action (e.g. reject,
 dunno) for a combination of several smtp parameters (like sender and recipient
 address, size or the client's TLS fingerprint).
