#!/usr/bin/make -f
# written by Jan Wagner <waja@cyconet.org>
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

build: patch-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

	install -D -m 644 sbin/postfwd debian/postfwd/usr/sbin/postfwd

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs doc/CHANGELOG doc/postfwd2.CHANGELOG
	dh_installdocs tools
	dh_installexamples etc/postfwd.cf.sample debian/example-cfg*
	dh_installinit -- defaults 19 21
	dh_installman man/man8/postfwd.8
	dh_link
	dh_compress
	dh_fixperms
	dh_perl
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
